@import "utils/variables";
@import "utils/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*   border: 1px solid yellow; */
}

html {
  background-color: #{$general-background-a};
  color: #{$text-primary};
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 14px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container-fluid {
  width: 100%;
}

.flex-box {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.wrap {
  display: flex;
}

.guide-wrapper {
  width: 240px;
  height: 100vh;
  background-color: #{$panel-background};
  /*
  position: fixed;
  z-index: 2000;
  top: -120px;
  right: 0;
  bottom: -120px;
  left: 0;
  */
  padding-top: 56px;
}

.content-wrapper {
  -webkit-flex: 1;
  flex: 1;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 56px;
  /*   display: flex; */
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
}
