@import "utils/variables";
@import "utils/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*   border: 1px solid yellow; */
}

html {
  background-color: #{$general-background-a};
  color: #{$text-primary};
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  font-size: 14px;
  line-height: 1.5;
}

a {
  text-decoration: none;
  display: inline-block;
}

.container-fluid {
  width: 100%;
}

.flex-box {
  padding-left: 24px;
  padding-right: 24px;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}

.wrap {
  display: flex;
}

.guide-wrapper {
  width: 72px;

  height: 100vh;
  background-color: #{$panel-background};
  z-index: 2000;
  left: 0;
  padding-top: 56px;

  &.active {
    width: 240px;
  }
}

.guide-box {
  padding-top: 48px;
}
.guide-item {
  height: 48px;
}
.guide-icon {
  fill: #{$icon-inactive};
  width: 24px;
  min-width: 24px;
  min-height: 24px;
  display: inline-block;
}
.guide-text {
  color: #{$text-primary};
  font-weight: 400;
  visibility: hidden;
}

.guide-wrapper.active {
  .guide-text {
    padding-left: 24px;
    padding-right: 24px;
    visibility: visible;
  }
  .guide-icon {
    max-width: 24px;
    max-height: 24px;
  }
}

.content-wrapper {
  -webkit-flex: 1;
  flex: 1;
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 56px;
  /*   display: flex; */
}

.videos {
  padding-top: 48px;
  // display: flex;
  // flex-wrap: wrap;
}
.video-wrapper {
  width: 24%;
  padding: 0 8px 40px;
  display: inline-block;
}

.overlay {
  opacity: 0;
  pointer-events: none;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #{$hover-overlay};
  transition: all 0.3s;
}

.thumbnail-overlay {
  transition: all 0.3s;
  // width: 100%;
  // height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
}
.card {
  // width: 100%;
  cursor: pointer;
  &:hover {
    .thumbnail-overlay {
      background-color: #{$hover-overlay};
    }
    .heart {
      opacity: 1;
    }
  }
}
.video-thumbnail {
  width: 100%;
}
.thumbnail-wrapper {
  position: relative;
}

.video-meta-time {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 4px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 2px 4px;
  border-radius: 2px;
  letter-spacing: 0.5px;
  // font-size: 1.2rem;
  font-weight: 500;
  line-height: 1.2rem;
}

.video-detail {
  display: flex;
  width: 100%;
}
h3 {
  font-weight: normal;
}
.video-title {
  margin-top: 12px;
  margin-bottom: 6px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.channel-thumbnail-wrapper {
  padding-top: 12px;
  padding-right: 12px;
  flex: none;
}
.video-channel-thumbnail {
  border-radius: 50%;
}

.video-meta-viewCount {
  color: #{$text-secondary};
}
.video-text {
  flex: 1;
  padding-right: 24px;
  min-width: 0;
}
.channel-name {
  color: #{$text-secondary};
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.center {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.heart {
  position: relative;
  width: 36px;
  height: 36px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.heart-icon {
  fill: lightgray;
  cursor: pointer;
}

.animation-container {
  width: 200%;
  height: 200%;
  pointer-events: none;
}

.lines line {
  stroke: #da4336;
  stroke-width: 5px;
}

.active .heart-icon {
  fill: #da4336;
  animation: beat 0.3s ease-out;
  opacity: 1;
}
.ring {
  transform-origin: 50% 50%;
}

.active .ring {
  transition: transform 0.5s ease-in-out;
  transform-origin: 50% 50%;
  transform: scale(10);
}

@keyframes beat {
  50% {
    transform: scale(0.7);
  }

  100% {
    transform: scale(1);
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) {
  .video-wrapper {
    width: 33%;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {
  .guide-wrapper {
    transition: all 0.3s ease-in;
    min-width: 240px;
    transform: translateX(-100%);
    position: fixed;
    box-shadow: 0 0 2rem #{$panel-background};
    &.active {
      transform: translateX(0);
    }
  }
  .overlay.active {
    opacity: 1;
    pointer-events: auto;
  }
  .guide-text {
    padding-left: 24px;
    padding-right: 24px;
    visibility: visible;
  }
}

// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) {
  .video-wrapper {
    width: 50%;
  }
}

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) {
  .video-wrapper {
    width: 100%;
  }
}
