$color: #2c3e50;
$text-primary: #fff;
$text-secondary: #aaa;
$icon-inactive: #909090;
$call-to-action: #3ea6ff;
$icon-active: #fff;
$general-background-a: #181818;
$panel-background: rgba(28, 28, 28, 0.8);
$badge-chip-background: rgba(255, 255, 255, 0.1);
